.vscode
node_modules/
*.env
firebase-debug.log
.DS_Store
mods-test-data/key.json
.gradle
.idea
build
*.iml
local.properties
coverage
package-lock.json
yarn.lock
firebase-stripe-payments/_emulator/extensions/firebase-stripe-payments.secret.local
*.secret.local# Trigger CI
firebase-stripe-payments.env.local
